body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

.heading-lv1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}
.heading-lv1 .heading-icon {
  color: #efdd34;
  font-size: 30px;
  margin-right: 8px;
}
.heading-lv1 .heading-sub {
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .heading-lv1 {
    margin-top: 96px;
  }
}

.btn-more {
  font-size: 18px;
  font-weight: bold;
  color: #459209;
  text-align: center;
  display: block;
  position: relative;
  max-width: 400px;
  width: 80%;
  margin: 32px auto 48px;
  padding: 4px 0;
  background: #FFFFFF;
  border: 3px solid #459209;
  border-radius: 99em;
  transition: all 0.3s;
}
@media screen and (min-width: 768px) {
  .btn-more {
    width: 250px;
  }
}
.btn-more span {
  position: absolute;
  top: 50%;
  right: 6px;
  margin-top: -15px;
  font-size: 30px;
}
.btn-more:hover {
  color: #efdd34;
  border-color: #efdd34;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 12px 16px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  max-width: 1200px;
  width: 100%;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .header {
    position: static;
    flex-direction: column;
  }
}
@media screen and (min-width: 992px) {
  .header {
    flex-direction: row;
  }
}

.header-logo {
  line-height: 1;
}
@media screen and (max-width: 575px) {
  .header-logo {
    width: 250px;
  }
}

.header-btn {
  width: 32px;
  height: 20px;
  padding-right: 5px;
  background: none;
  display: block;
  z-index: 500;
}
.header-btn span {
  position: relative;
  display: block;
  height: 2px;
  background: #333;
  transition: all 0.3s;
}
.header-btn span::before, .header-btn span::after {
  position: absolute;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #333;
  transition: all 0.3s;
}
.header-btn span::before {
  top: -10px;
}
.header-btn span::after {
  bottom: -10px;
}
@media screen and (min-width: 768px) {
  .header-btn {
    display: none;
  }
}

.header-gnav {
  margin-top: 62px;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -100%;
  transition: all 0.5s;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .header-gnav {
    margin-top: 0;
    width: auto;
    height: auto;
    position: static;
  }
}

.header-gnav-list {
  border-top: 1px solid #efe1c5;
}
.header-gnav-list a {
  display: flex;
  font-weight: bold;
  align-items: center;
  padding: 8px 24px;
  font-size: 18px;
  border-bottom: 1px solid #efe1c5;
}
.header-gnav-list a span {
  font-size: 22px;
  color: #459209;
  margin-right: 8px;
}
.header-gnav-list a span.header-gnav-access {
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .header-gnav-list {
    display: flex;
    border: none;
  }
  .header-gnav-list a {
    border: none;
    margin-left: 16px;
    padding: 5px;
  }
}

.is-openMenu .header-btn span {
  background: transparent;
}
.is-openMenu .header-btn span::before {
  top: 0;
  transform: rotate(45deg);
}
.is-openMenu .header-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}
.is-openMenu .header-gnav {
  right: 0;
}

.main {
  margin-top: 67px;
}
@media screen and (min-width: 768px) {
  .main {
    margin-top: 0;
  }
}

.footer {
  text-align: center;
  padding: 4px 0;
  margin-top: 64px;
  background-color: #faf5e9;
}
@media screen and (min-width: 768px) {
  .footer {
    margin-top: 96px;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -5px;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px;
}
@media screen and (min-width: 768px) {
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 12px;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background-color: #459209;
}

.swiper-button-next, .swiper-button-prev {
  color: #459209;
  overflow: hidden;
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-family: "Material Icons";
  font-size: 60px;
}

.swiper-button-next:after {
  content: "navigate_next";
}

.swiper-button-prev:after {
  content: "navigate_next";
  transform: scale(-1, 1);
}

.swiper-slider_01 {
  text-align: center;
  padding-bottom: 40px;
  margin-bottom: -40px;
  position: relative;
}
@media screen and (min-width: 576px) {
  .swiper-slider_01 img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 540px;
    width: 100%;
  }
}
.swiper-slider_01 .swiper-button-next, .swiper-slider_01 .swiper-button-prev {
  top: calc( 50% - 16px);
}
@media screen and (min-width: 768px) {
  .swiper-slider_01 {
    padding-bottom: 48px;
    margin-bottom: -48px;
  }
}

.events-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 16px -16px;
}
@media screen and (min-width: 768px) {
  .events-list {
    margin: 0 auto -16px;
    padding: 0 16px;
  }
}
.events-list li {
  margin: 16px auto;
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .events-list li {
    width: calc( 33% - 16px );
    margin-left: 8px;
    margin-right: 8px;
  }
}
.events-list .events-info {
  padding: 8px 16px 16px;
}
.events-list .events-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.25em;
}

.news-list {
  max-width: 800px;
  margin: 16px auto;
  padding: 0 16px;
}
.news-list li {
  border-top: 1px dashed #efe1c5;
}
.news-list li:last-of-type {
  border-bottom: 1px dashed #efe1c5;
}
.news-list a {
  display: flex;
  padding: 8px 0;
}
.news-list time {
  flex: 0 0 auto;
}
.news-list p {
  font-size: 16px;
  margin-left: 24px;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .news-list p {
    margin-left: 48px;
  }
}

.swiper-outer {
  margin: 16px auto;
  max-width: 800px;
  padding: 0 40px;
  position: relative;
}

.swiper-slider_02 {
  overflow: hidden;
}
.swiper-slider_02 img {
  border-radius: 99em;
  border: solid 6px #efe1c5;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */